
.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 20px #fff;
  margin-top: 0;
  margin-bottom: 20px;
}

.activeLogo {
  font-size: 56px;
  color: rosybrown;
}

#login {
  margin-bottom: 0px;
  margin-left: 80vw;
}

